In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data1.csv')
df.head()

,$distinct_id,Name,$properties.$last_seen,$properties.$android_brand,$properties.$android_os,$properties.$android_lib_version,$properties.$android_app_version_code
0,8700431499,NaN,2019-05-16T22:02:11,Xiaomi,Android,5.4.4,6
1,9817479935,NaN,2020-01-01T14:29:36,vivo,Android,5.4.4,13
2,7775858558,NaN,2020-01-01T14:28:27,vivo,Android,5.4.4,13
3,9754806385,NaN,2019-07-25T11:53:58,samsung,Android,5.4.4,14
4,9897973957,NaN,2020-01-01T14:29:28,samsung,Android,5.4.4,14

In [3]:
df.tail(10)

,$distinct_id,Name,$properties.$last_seen,$properties.$android_brand,$properties.$android_os,$properties.$android_lib_version,$properties.$android_app_version_code
39906,7351691111,shaurya,2019-12-29T10:53:41,xiaomi,Android,5.4.4,82
39907,7340071230,dimpi soni,2019-12-30T16:29:14,realme,Android,5.4.4,83
39908,7506656696,fauzi,2019-12-30T13:03:49,OPPO,Android,5.4.4,83
39909,9318462626,Priti,2019-12-30T05:19:27,xiaomi,Android,5.4.4,83
39910,9510111904,Aminkajal,2019-12-30T13:43:39,LAVA,Android,5.4.4,82
39911,7387723565,kranti kulkarni,2019-12-30T14:59:42,xiaomi,Android,5.4.4,83
39912,9284071230,momin mehraj,2020-01-05T18:47:31,samsung,Android,5.4.4,82
39913,8291876969,Priyanka,2019-12-31T17:13:52,OPPO,Android,5.4.4,84
39914,8108234059,ritika,2020-01-01T03:47:55,samsung,Android,5.4.4,84
39915,9427837770,NaN,2020-01-01T14:30:07,undefined,undefined,undefined,undefined

In [4]:
df.describe()

,$distinct_id,Name,$properties.$last_seen,$properties.$android_brand,$properties.$android_os,$properties.$android_lib_version,$properties.$android_app_version_code
count,39916,18395,39916,39916,39916,39916,39916
unique,39916,11394,37517,101,2,3,78
top,9650029680,pooja,2020-01-01T14:41:19,samsung,Android,5.4.4,48
freq,1,173,4,9503,39221,39220,2952

In [5]:
df.shape

(39916, 7)

In [6]:
df.drop('$distinct_id', axis=1, inplace=True)

In [8]:
df.drop('Name', axis=1, inplace=True)

In [10]:
df.drop('properties.properties. last_seen',axis=1,inplace=True)

ValueError: labels ['properties.properties. last_seen'] not contained in axis